@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black-900: #121212;
	--black-800: #282828;
	--black-700: #3f3f3f;
	--black-600: #717171;

	--white-0: #ffffff;
	--white-100: #f0f0f0;
	--white-200: #e1e1e1;
	--white-300: #c5c5c5;

	--purple-500: #7a1cac;
	--purple-400: #8733b4;
}

.dark {
	--background: var(--black-800);
	--sidebar: var(--black-900);
	--card: var(--black-700);

	--text-1: var(--white-0);
	--text-2: var(--white-100);

	--text-subtle: var(--white-300);
}

.light {
	--background: var(--white-0);
	--sidebar: var(--white-100);
	--card: var(--white-200);

	--text-1: var(--black-900);
	--text-2: var(--black-800);

	--text-subtle: var(--black-600);
}

body {
	overflow-x: hidden;
	background-color: var(--background);
}

/* styles.css */
.CollapsibleContent {
	overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
	animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
	animation: slideUp 300ms ease-out;
}


.dialog-content {
	position: fixed;
	width: 100%;
	max-width: 500px;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 6px;
	height: auto;
	padding: 1.5rem;
	background-color: var(--card);
}


@media only screen and (max-width: 600px) {
	.dialog-content {
		max-width: 350px;
	}
}


@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}


body {
  font-family: 'Lato';
}

.AlertDialogOverlay {
	animation: overlayShow 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 500px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.AlertDialogContent:focus {
	outline: none;
}


@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
